extends layout

block content
	.ui.container
		form.ui.form(method='POST' action='/checkout')
			.ui.piled.segment
				h3 CHECKOUT
				.ui.horizontal.segments
					.ui.segment
						p Total Items
					.ui.segment
						p= predictions.length
				.ui.horizontal.segments
					.ui.segment
						p Total Price
					.ui.segment
						p= `KES ${total}`
				button.ui.fluid.button(type='submit') PURCHASE

