extends layout

include mixins/_orderCard

block content
	h3.mobile.tablet.only= title
	.ui.container
		.ui.stackable.two.column.grid
			if orders
				each item in orders
					each order in item.cart.items
						+orderCard(order)
			else
				.ui.piled.segment
					h3 YOU HAVE NO ORDERS
