extends layout

block content
  div#phone-auth-container.ui.container.grid
    .row
      div.phone-header.centered.column
        i.soccer.outline.icon
    .row
      div#firebaseui-auth-container.column

  script(src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js")
  script(src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js")
  link(rel='stylesheet', href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css")
  link(rel='stylesheet', href='https://www.gstatic.com/firebasejs/ui/2.5.1/firebase-ui-auth.css')
  script(src='https://www.gstatic.com/firebasejs/ui/2.5.1/firebase-ui-auth__en.js')
  script(src="/dist/Fire.bundle.js")


