extends layout

include mixins/_predictionCard

block content
  h3= title
  .ui.container
    .ui.stackable.three.column.grid
      - for( var i = 0; i < predictions.length; i++)
        +predictionCard(predictions[i])
    .zoom
      a#zoomBtn.zoom-fab.zoom-btn-large(href='/add')
        i.icon.add
        
            
    
    
