extends layout

include mixins/_predictionCard
include mixins/_searchForm

block content
  .ui.container
    .user__search
      +searchForm()
    h3= title
    .ui.stackable.three.column.grid.doubling
      each prediction in predictions
        +predictionCard(prediction)
    .zoom
      a#zoomBtn.zoom-fab.zoom-btn-large(href='/add')
        i.icon.add
