extends layout

block content
  .ui.container#register-container
    form.ui.form.segment#register-form.validate-form(action='/register' method='POST')
      h3 Register
      .field.required
        label Username
        |
        .ui.left.labeled.icon.input
          input(type='text', placeholder='Username', name='username')
          |
          i.user.icon
      .field.required
        label Email
        |
        .ui.left.labeled.icon.input
          input(type='email', placeholder='Email', name='email')
          |
          i.mail.icon
      .field.required
        label Phone
        |
        .ui.left.labeled.icon.input
          input(type='text', name='phone' id='phone', readonly="")
          |
          i.phone.icon
      .field.required
        label Password
        |
        .ui.left.labeled.icon.input
          input(type='password', name='password')
          |
          i.lock.icon
      .field.required
        label Confirm password
        |
        .ui.left.labeled.icon.input
          input(type='password', name='password-confirm')
          |
          i.lock.icon
      .inline.field
        .ui.checkbox
          input(type='checkbox', name='terms')
          label
            a.terms_link(href='/terms-and-conditions' target='_blank') I agree to the terms and conditions
      button.ui.purple.button.fluid(type='submit') REGISTER
      .ui.error.message
        .header We noticed some issues
    script.
      const phoneInput = document.getElementById('phone');
      phoneInput.value = sessionStorage.getItem('phone');
