extends layout

block content
  .ui.container#register-container
    form.ui.segment.form#register-form.reset-form(method='POST')
      h3 Reset Your Password
      .field
        label Password
        .ui.left.labeled.icon.input
          input(type='password' name='password')
          |
          i.icon.lock
      .field
        label Confirm Password
        .ui.left.labeled.icon.input
          input(type='password' name='password-confirm')
          |
          i.icon.lock
      input.ui.button.fluid.basic.purple(type='submit' value='Reset Password')
      .ui.error.message
        .header We noticed some issues