extends layout

include mixins/_userPrediction

block content
  if predictions.length >=1
    h3.mobile.tablet.only= title
    .ui.container
      .ui.stackable.three.column.grid.doubling
        each prediction in predictions
          +userPrediction(prediction)
      .zoom
        a#zoomBtn.zoom-fab.zoom-btn-large(href='/add')
          i.icon.add
  else
    h3 YOU HAVE NO PREDICTIONS
    .zoom
        a#zoomBtn.zoom-fab.zoom-btn-large(href='/add')
          i.icon.add
