mixin loginForm()

  form.ui.form.segment#register-form(action='/login' method='POST')
    h3 LOGIN
    .field
      label Phone
      |     
      .ui.left.labeled.icon.input
        input(type='text', placeholder='Phone', name='phone')
        |       
        i.phone.icon  
    .field
      label Password
      |     
      .ui.left.labeled.icon.input
        input(type='password', placeholder='Password', name='password')
        |       
        i.lock.icon  
    .ui.error.message
      .header We noticed some issues   
    button.ui.button.fluid(type='submit') Login
