include _predictionFields

mixin predictionForm(prediction = {})
  form.ui.form.segment.add-prediction-form(action='/add' method='POST')
    #fields
      - for(var i = 0; i < 5; i++)
        +predictionFields()
			        
    button.ui.button.fluid(type='submit') Save
    button.ui.button(id='addFields') Add
    script.
      $('.date-picker').calendar({
        type: 'date'
      });
      $('#date-picker').calendar({
        type: 'date'
      });
      
      $('.time-picker').calendar({
        type: 'time'
      });
      
      $('.ui.dropdown').dropdown();
  
