mixin predictionFields()
  .five.fields
    .field.five.fluid.wide.required
      label Date
      |
      .ui.calendar.date-picker
        .ui.left.labeled.icon.input
          input(type='text', placeholder='Date', name='date[]')
          |
          i.calendar.icon
    .field.five.fluid.wide.required
      label Home
      |
      .ui.left.labeled.icon.input
        input(type='text', placeholder='Home Team', name='home[]')
        |
        i.soccer.icon
    .field.five.fluid.wide.required
      label Away
      |
      .ui.left.labeled.icon.input
        input(type='text', placeholder='Away Team', name='away[]')
        |
        i.soccer.icon
    .field.stackable.eight.wide.mobile.required
      label Prediction
      |
      .ui.dropdown.prediction_input
        input(type="hidden", name="prediction[]")
        .default.text Prediction
        .menu
          .header Categories
          .item
            i.dropdown.icon
            span.text 3-Way
            .menu
              .item(data-value="3-Way 1-Home Win") 3-Way 1-Home Win
              .item(data-value="3-Way X-Draw") 3-Way X-Draw
              .item(data-value="3-Way 2-Away Win") 3-Way 2-Away Win
          .item
            i.dropdown.icon
            span.text Double Chance
            .menu
              .item(data-value="Double Chance 1X - Home/Draw") Double Chance 1X - Home/Draw
              .item(data-value="Double Chance 12 - Home/Away") Double Chance 12 - Home/Away
              .item(data-value="Double Chance X2 - Draw/Away") Double Chance X2 - Draw/Away
          .item
            i.dropdown.icon
            span.text Over 2.5/ Under
            .menu
              .item(data-value="Over 2.5") Over 2.5
              .item(data-value="Under 2.5") Under 2.5
          .item
            i.dropdown.icon
            span.text Both teams to score
            .menu
              .item(data-value="Both teams to score - Yes") Both teams to score - Yes
              .item(data-value="Both teams to score - No") Both teams to score - No
          .item
            i.dropdown.icon
            span.text 3-Way First Half
            .menu
              .item(data-value="3-Way First Half - 1") 3-Way First Half - 1
              .item(data-value="3-Way First Half - X") 3-Way First Half - X
              .item(data-value="3-Way First Half - 2") 3-Way First Half - 2
          .divider
          .item
            i.dropdown.icon
            span.text Double Chance First Half
            .menu
              .item(data-value="Double Chance First Half - 1X") Double Chance First Half - 1X
              .item(data-value="Double Chance First Half - 12") Double Chance First Half - 12
              .item(data-value="Double Chance First Half - X2") Double Chance First Half - X2
          .item
            i.dropdown.icon
            span.text Over 1.5 First Half
            .menu
              .item(data-value="Over 1.5 First Half - Over") Over 1.5 First Half - Over
              .item(data-value="Over 1.5 First Half - Under") Over 1.5 First Half - Under
          .item
            i.dropdown.icon
            span.text Over 2.5 First Half
            .menu
              .item(data-value="Over 2.5 First Half - Over") Over 2.5 First Half - Over
              .item(data-value="Over 2.5 First Half - Under") Over 2.5 First Half - Under
          .item
            i.dropdown.icon
            span.text Both teams to score
            .menu
              .item(data-value="Both teams to score HT - Yes") Both teams to score HT- Yes
              .item(data-value="Both teams to score HT - No") Both teams to score HT- No
          .item
            i.dropdown.icon
            span.text Half time/Full time
            .menu
              .item(data-value="Half time/Full time 1/1") Half time/Full time 1/1
              .item(data-value="Half time/Full time 1/X") Half time/Full time 1/X
              .item(data-value="Half time/Full time 1/2") Half time/Full time 1/2
              .item(data-value="Half time/Full time X/1") Half time/Full time X/1
              .item(data-value="Half time/Full time X/X") Half time/Full time X/X
              .item(data-value="Half time/Full time X/2") Half time/Full time X/2
              .item(data-value="Half time/Full time 2/1") Half time/Full time 2/1
              .item(data-value="Half time/Full time 2/X") Half time/Full time 2/X
              .item(data-value="Half time/Full time 2/2") Half time/Full time 2/2

  hr.add_divider
