#register-container {
  #register-form{
    font-size: 1em;
    box-shadow: $grad;
    .button{
      font-size: 1em;
    }
    .ui.checkbox{
      label{
        font-size: 1.5em;
      }
    }
    .terms_link{
      color: blueviolet;
      font-weight: bolder;
    }
    .terms_link:hover{
      text-decoration: underline;
    }
  }
}

.forgot{
  text-align: center;
  margin-top: 1em;
  a{
    color: $purple;
  }
}

.hidden{
  display: none !important;
}

.prediction_input{
  border: 1px solid lightgray;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.36em;
  border-radius: 0.2em;
  width: 100%;
}
.add-prediction-form{
  .ui.divider{
    margin: 5px 0px 5px 0px;
  }
}
.add_divider{
  color: $black !important;
}
td{
  padding-left: 2px !important;
  padding-right: 4px !important;
  text-transform: uppercase;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #5b5557 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #5b5557  !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #5b5557  !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #5b5557  !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #5b5557  !important;
}

::placeholder { /* Most modern browsers support this now. */
   color: #5b5557  !important;
}
@media only screen and (min-width : 1224px) {
  #register-form {
    width: 60%;
    margin: 0 auto;
  }
}
