.container{
  margin-top: 2em;
  h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
  }
  img{
    width: 40em;
    height: 40em;
  }
}

