.login_container{
 min-height: 100vh;
}
.sidebar_copyright{
  width: 100%;
  text-align: center;
  position: fixed !important;
  bottom: 0px;
  a{
    color: $purpler;
  }
}
@media only screen and (min-width : 1024px) {
  .site{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .pusher {
    flex: 1;
  }
  footer{
    background: $black;
    color: $white;
    text-align: center;
    font-size: 1.2rem !important;
    width: 100%;
    a{
      color: $purpler;
    }
  }
}