// .search {
//   position: relative;
//   width: 100%;
//   display: flex;
//   &__results {
//     background: white;
//     position: absolute;
//     width: 100%;
//     top: 100%;
//     box-shadow: 0 0 10px rgba(0,0,0,0.2);
//     z-index: 5;
//     left: 0;
//   }
//   &__input {
//     font-size: 20px;font-weight: lighter;
//     width: 100%;
//     background: none;
//     color: rgb(66.2%, 69.8%, 66.2%);
//     outline: 0;
//     border: 2px solid #9B9B9B;
//     text-align: center;
//   }
//   &__result {
//     padding: 10px;
//     display: block;
//     border-bottom: 1px solid #ececec;
//     &--active {
//       background: #f1f1f1;
//     }
//   }
// }


.search__results{
  width: 80% !important;
  background: white;
  display: none;
  position: absolute;
  top: 100%;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
  border: 1px solid #d4d4d5;
  z-index: 998;
}

.ui.icon.input{
  width: 80%;
}

.ui.search{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search__result{
  padding: 10px;
  display: block;
  border-bottom: 1px solid #ececec;
  &--active {
    background: #f1f1f1;
  }
}