#share-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}
#share-buttons i {
  width: 35px;
  font-size: 1.6em;
  padding-right: 1.8em;
  border: 0;
  box-shadow: 0;
}