#share-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#share-buttons i {
  width: 35px;
  font-size: 1.3em;
  padding: 5px;
  border: 0;
  box-shadow: 0;
}