#help-container{
		margin-top: 2em;
		.help_clause{
			font-size: 12px;
		}
		h2{
			text-transform: uppercase;
			text-align: center;
			font-family: 'Panama';
			font-weight: bold;
			text-decoration: underline;
		}
		img{
			width: 30em;
			height: 40em;
		}
    .card{
			border-radius: 0;
      a{
        font-size: 1.3em;
      }
    .card-body{
      div{
        font-size: 12px;
      }
      a{
        font-size: 12px;
			}
			img{
				margin-top: 1rem;
			}
    }
  }
}
#terms-container{
	margin-top: 2em;
	margin-bottom: 2em;
	.privacy_clause{
		font-size: 12px;
		margin-bottom: 1em;
	}
	.last_updated{
		font-family: 'Panama';
	}
	h2{
		text-transform: uppercase;
		font-family: 'Panama';
		text-align: center;
		font-weight: bold;
		text-decoration: underline;
	}
	.card{
		border-radius: 0;
		a{
			font-size: 1.3em;
		}
	.card-body{
		div{
			font-size: 12px;
		}
		a{
			font-size: 12px;
		}
	}
}
}